<div class="card-footer">
  <%= form_tag do |f| %>
    <div class="input-group">
      <%= text_field_tag :message_body, '', class: 'form-control type_msg',
                         placeholder: 'Enter message' %>
    </div>
  <% end %>
</div>